<h1>Customers</h1>
<hr>
<div class="row">
    <% @customers.each do |c| %>
    <div class="col-lg-4 py-2">
        <div class="card">
        <h4 class="text-center"><span class="feather-32" data-feather="user"> </span><br><%= c.name %></h4>
        <hr>
        <p>Phone: <%= c.phone %></p>
        <p>Email: <%= c.email %></p>
        <p>Budget: $<%= c.budget %></p>
        <hr>
        <div class="btn-group">
            <%= link_to "Edit", edit_customer_path(c), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to "Delete", customer_path(c), method: :delete, class: "btn btn-outline-success btn-sm"  %>
        </div>
        </div>
        
    </div>
    <% end %>
</div>
<%= link_to "Back", home_path %>
