<div class="col-lg-4 py-4">

<h1> <%= @customer.name %> </h1>
<p> Phone Number: <%= @customer.phone %> </p>
<p> Email Address: <%= @customer.email %> </p>
<p> Customer Budget: <%= @customer.budget %> </p>



<%= link_to "Back", customers_path %>
</div>